.header {
    height: 75px;
    padding: 0 2rem;
    background-color: white;
    border-bottom: 1px solid #edf2f7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.current-date-container {
    display: flex;
    align-items: center;
}

.current-day {
    color: #1a202c;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.notification-wrapper {
    position: relative;
}

@media (max-width: 768px) {
    .header {
        padding: 0 1rem;
    }

    .current-date-container {
        display: none;
    }
} 